/* MENU */
.menu {
  grid-area: settings;
  margin-left: 1em;
}
.menu .input {width: 0; height: 0;}
.menu .input:checked ~ .menu-content {
  opacity: 1; animation: menu .2s linear 0s 1 forwards;
}

.menu .input:checked ~ .menu-icon .menu-col:nth-child(1) {
  transform: rotate(-45deg); margin-top: 1.6em;transition: .3s;
}
.menu .input:checked ~ .menu-icon .menu-col:nth-child(2) {
  opacity: 0; margin: 1rem 0 0 10rem; transition: .3s;
}
.menu .input:checked ~ .menu-icon .menu-col:nth-child(3) {
  transform: rotate(45deg); margin-top: -1.6em; transition: .3s;
}

.menu-content {
  height: 0; opacity: 0;
  transition: .1s;
  grid-column: 1 / 12; display: flex; flex-wrap: wrap; justify-content: flex-start;
}
.menu-content h1 {
  font-size: 1.2em; color: #4b4bff; width: 100%;
}
.menu-content div {
  font-size: 1em; display: flex; align-content: center; background: #4b4bff4b; padding: .5em 4em .5em 1em; margin: .3em; border-radius: .3em;
}
.menu-content div p {
  margin-right: .5em;
}
.menu-content div .switch {
  margin-top: .25em;
}

.menu-icon {
  margin: 1rem 0; padding: .5rem; width: 2em; height: auto;
}
.menu-icon .menu-col {
  width: 2em; height: .3em; background: #4b4bff; margin: .3em 0; transition: .3s;
}
.menu-icon .menu-col:nth-child(2) {
  opacity: 1; margin-left: 0; transition: .3s;
}