.page {
  grid-column: 1 / 13;
}
.page section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.page section p {
  grid-column: 1 / 10;
}
.page section h1 {
  grid-column: 1 / 10; color: #4b4bff; text-align: center; font-size: 1.3em; margin-top: 1rem;
}
.page section h2 {
  grid-column: 1 / 10; color: #4b4bff; font-size: 1.2em; margin-top: 1rem;
}
.page section .scalable-image {
  grid-column: 3 / 7; margin: .2rem;
  width: 100%; height: auto; border-radius: .3rem;
}
.page section .banner-image {
  grid-column: 1 / 10; height: 12rem; width: 100%; overflow: hidden;
}
.page section .banner-image img {
  display: block; margin-top: -18%;
}
.page section .scalable-image:hover {
  animation: image-zoom .15s linear 0s 1 forwards;
}
@keyframes image-zoom {0% {grid-column: 3 / 7;} 50% {grid-column: 2 / 8;} 100% {grid-column: 1 / 10;}}
.page section * tip {
  text-decoration: none; padding: 0 .3rem;position: relative; cursor: pointer;
  color: #ff4b4b; background: #ff4b4b4b; border-bottom: .2rem solid #ff4b4b;
}
.page section * tip span {
  display: none;
  background-color: #ff4b4b; color: white; box-shadow: 0 0 1rem #ff4b4b4b;
  padding: .5rem; border-radius: .2rem; width: 15rem; font-size: .8em;
  position: absolute; z-index: 1; bottom: 2rem; left: 50%; margin-left: -7.5rem;
}
.page section * tip span::after {
  content: " ";
  position: absolute; top: 100%; left: 50%; width: 0; margin-left: -.5rem;
  border-top: .5rem solid #ff4b4b; border-left: .5rem solid #0000; border-right: .5rem solid #0000; border-bottom: 0 solid #0000;
}
.page section * tip:hover span {
  display: block;
}
.page section * a {
  text-decoration: none; padding: 0 .3rem;position: relative; cursor: pointer;
  color: #4b4bff; border-bottom: .2rem solid #4b4bff;
}
.page section * a span {
  display: none;
  background-color: #4b4bff; color: #fff; box-shadow: 0 0 1rem #4b4bff4b;
  padding: .5rem; border-radius: .2rem; width: 15rem; font-size: .8em;
  position: absolute; z-index: 1; bottom: 2rem; left: 50%; margin-left: -7.5rem;
}
.page section * a span::after {
  content: " ";
  position: absolute; top: 100%; left: 50%; width: 0; margin-left: -.5rem;
  border-top: .5rem solid #4b4bff; border-left: .5rem solid #0000; border-right: .5rem solid #0000; border-bottom: 0 solid #0000;
}
.page section * a:hover span {
  display: block;
}

/* FAQ */
.faq section div {
  background: #4b4bff4b; padding: 1rem 1rem 2rem 1rem; margin: .5rem 1rem .5rem 5rem; border-radius: .3rem; grid-column: span 4;
}

/* MENU */
.menu {
  grid-column: 1 / 12
}
.menu .input {width: 0; height: 0;}
.menu .input:checked ~ .menu-content {
  opacity: 1; animation: menu .2s linear 0s 1 forwards;
}

.menu .input:checked ~ .menu-icon .menu-col:nth-child(1) {
  transform: rotate(-45deg); margin-top: 1.6em;transition: .3s;
}
.menu .input:checked ~ .menu-icon .menu-col:nth-child(2) {
  opacity: 0; margin: 1rem 0 0 10rem; transition: .3s;
}
.menu .input:checked ~ .menu-icon .menu-col:nth-child(3) {
  transform: rotate(45deg); margin-top: -1.6em; transition: .3s;
}

.menu-content {
  height: 0; opacity: 0;
  transition: .1s;
  grid-column: 1 / 12; display: flex; flex-wrap: wrap; justify-content: flex-start;
}
.menu-content h1 {
  font-size: 1.2em; color: #4b4bff; width: 100%;
}
.menu-content div {
  font-size: 1em; display: flex; align-content: center;background: #4b4bff4b; padding: .5em 4em .5em 1em; margin: .3em; border-radius: .3em;
}
.menu-content div p {
  margin-right: 1em;
}

.menu-icon {
  margin: 1rem 0; padding: .5rem; width: 2em; height: auto;
}
.menu-icon .menu-col {
  width: 2em; height: .3em; background: #4b4bff; margin: .3em 0; transition: .3s;
}
.menu-icon .menu-col:nth-child(2) {
  opacity: 1; margin-left: 0; transition: .3s;
}


@keyframes menu {
  from {
    margin-left: 100%; height: 0;
  }
  to {
    margin-left: 0; height: auto;
  }
}

ul li {
  list-style-type: none;
}
ul li::before {
  content: "\2022"; color: #4b4bff; margin: 0 .5rem;
}

.member {
  background: #4b4bff4b; border-radius: .5rem; padding: 0;
  grid-column: span 2; margin: 2rem;
}
/*.member:nth-child(odd) {
  grid-column: 2 / 4;
}
.member:nth-child(even) {
 grid-column: 6 / 8;
}*/
.member img {
  background: #4b4bff; width: 100%; height: auto; margin: 0; padding: 0;
  border-radius: .5rem .5rem 0 0;
}
.member p {
  padding: 1rem;
}
.member h2 {
  font-size: 1.3rem;padding: .2rem 1rem;
}
.member h3 {
  font-size: 1.05rem; font-weight: bold; padding: .2rem 1rem;
}


.contribute {
  grid-column: 2 / 8;
}
