@media screen and (max-width: 1200px) {:root {font-size: 11pt;}
/* NAV */
nav {
  flex-wrap: wrap;
}
nav button {
  font-size: 1em; padding: .5rem; width: auto;
}
nav button img {
  display: none;
}
/* MAIN */

/* FAQ */
.faq section div {
  grid-column: span 8; margin: .5rem 0; margin: .5rem;
}

/* MEET THE TEAM */
.member {
  background: #4b4bff4b; border-radius: .5rem; padding: 0;
  grid-column: span 4; margin: 2rem;
}

/* FOOTER */
.info .love-holder {
  margin: 2rem;
}
.info .love-holder .love {
  font-size: .8rem; margin: 0 auto; padding: 0;
}
.info .love-holder .love span {
  font-size: 1rem; margin: 0; padding: 0;
}
}

/* TEENY */
@media screen and (max-width: 500px) {:root {font-size: 10pt;}
nav button {
  font-size: 0; padding: .5rem; width: auto;
}
nav button img {
  height: 2rem; width: 2rem; padding: .4rem; border-radius: .3rem; display: block;
}
.member {
  background: #4b4bff4b; border-radius: .5rem; padding: 0;
  grid-column: span 8; margin: 2rem;
}
}
