@media screen and (max-width: 1200px) {:root {font-size: 11pt;}
/* NAV */
nav {
  flex-wrap: wrap;
}
nav button {
  font-size: 1rem; padding: .5rem; width: 80%;
}
nav button img {
  height: 1.2rem; width: 1.2rem; padding: .2rem;
}
/* MAIN */

/* FOOTER */
.info .love-holder {
  margin: 2rem;
}
.info .love-holder .love {
  font-size: .8rem; margin: 0 auto; padding: 0;
}
.info .love-holder .love span {
  font-size: 1rem; margin: 0; padding: 0;
}
}
@media screen and (max-width: 500px) {:root {font-size: 10pt;}
nav button {
  font-size: 0; padding: .5rem; width: auto;
}
}
