body > nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: #4b4bff .25em solid;
}
body > nav > button {
  height: auto;
  width: auto;
  padding: .5em;
  margin: auto 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  transition: .3s;
  border: 0;
  border-radius: .3em;
  background-color: #4b4bff4b;
  color: #4b4bff;
}
body > nav > button:hover {
  padding: 1em 1.5em;
  transition: .3s;
}
body > nav > button > img {
  height: 1.5em;
  width: 1.5em;
  padding: .15em;
  border-radius: .15em;
  background-color: #4b4bff4b;
}