nav {
  grid-column: 3 / 11; display: flex; padding: .5rem;
  justify-content: space-around;
  border-bottom: .2rem solid #4b4bff;
}
nav button {
  padding: .5rem; display: flex; align-items: center;
  font-size: 1em; background: #4b4bff11; color: #4b4bff;
  border: 0; border-radius: .3rem; outline: 0; margin: .5rem;
}
nav button:hover {
  animation: button-hover .15s linear 0s 1 forwards;
}
nav button img {
  height: 2em; width: 2em;
  margin: 0 .5em 0 0; padding: .4em;
  background: #4b4bff22; border-radius: .2em;
}

@keyframes button-hover {
  to {
    background: #4b4bff28; padding: 1rem; margin: 0;
  }
}


.switch .switcher {
  opacity: 0; width: 0; height: 0;
}
.switch .slider {
  height: 1.5em; width: 3em; background: #4b4b4b; position: absolute; border-radius: 1em; margin: 0;
  transition: .2s;
}
.switch .slider::before {
  content: ""; position: absolute;
  width: 1em; height: 1em; border-radius: 1em;
  background: white; margin: .25em 0 0 .25em;
  transition: .2s;
}
.switch .switcher:checked ~ .slider {
  height: 1.5em; width: 3em; background: #4b4bff; position: absolute; border-radius: 1em;
  transition: .2s;
}
.switch .switcher:checked ~ .slider::before {
  content: ""; position: absolute;
  width: 1em; height: 1em; border-radius: 1em;
  background: white; margin: .25em 0 0 1.75em;
  transition: .2s;
}
